.form-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    .p-dropdown, .p-inputnumber {
        width: 100%;
    }
    .p-rating{
        .p-rating-item{
            margin: 5px;
            .p-rating-icon{
                width: 20px;
                height: 20px;
            }

        }
    }
}